orquestador-onboarding/workflows/ONboarding.json
{
  "name": "Orquestador de Onboarding de Clientes (E2E)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "id"
        },
        "triggerField": "Status",
        "additionalFields": {
          "filterByFormula": "AND({Status} = 'Ganado', {Drive Folder} = BLANK())"
        }
      },
      "id": "Show-Airtable-Trigger",
      "name": "Airtable Trigger",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "airtableApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Limpieza y Estandarización de Datos\nconst clientName = $input.item.json['Cliente'];\nconst company = $input.item.json['Empresa'];\nconst email = $input.item.json['Email'];\nconst id = $input.item.json['id'];\n\n// Generar Slug (ej: 'Tecno Ancon' -> 'tecno-ancon')\nconst slug = company.toLowerCase().replace(/ /g, '-').replace(/[^\\w-]+/g, '');\n\nreturn {\n  clientName,\n  companySlug: slug,\n  safeEmail: email ? email.trim() : null,\n  airtableId: id,\n  onboardingDate: new Date().toISOString()\n};"
      },
      "id": "Show-Code-Node",
      "name": "Standardize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.safeEmail }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "Show-If-Node",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "content": "⚠️ **ALERTA: Onboarding Detenido**\n\nEl cliente **{{ $('Standardize Data').item.json.clientName }}** no tiene email registrado.\n\n🛑 **Acción:** Revisar Airtable manualmente."
      },
      "id": "Show-Discord-Alert",
      "name": "Discord Alert ⚠️",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1100,
        500
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Discord Webhook"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.companySlug }} - {{ $json.clientName }}",
        "options": {
          "parents": [
            "YOUR_ONBOARDING_PARENT_FOLDER_ID"
          ]
        }
      },
      "id": "Show-Create-Main",
      "name": "Create Main Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Contratos",
        "options": {
          "parents": [
            "={{ $('Create Main Folder').item.json.id }}"
          ]
        }
      },
      "id": "Show-Create-Contracts",
      "name": "Create Contracts",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        1340,
        100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Assets",
        "options": {
          "parents": [
            "={{ $('Create Main Folder').item.json.id }}"
          ]
        }
      },
      "id": "Show-Create-Assets",
      "name": "Create Assets",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        1340,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "add",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create Main Folder').item.json.id }}",
          "mode": "id"
        },
        "email": "={{ $('Standardize Data').item.json.safeEmail }}",
        "role": "editor"
      },
      "id": "Show-Permissions",
      "name": "Add Permissions",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        1560,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "listId": "YOUR_TRELLO_LIST_ID",
        "name": "={{ $('Standardize Data').item.json.clientName }} - Onboarding",
        "description": "🚀 Nuevo Cliente\n\n📂 Drive: https://drive.google.com/drive/folders/{{ $('Create Main Folder').item.json.id }}\n📧 Email: {{ $('Standardize Data').item.json.safeEmail }}"
      },
      "id": "Show-Trello-Card",
      "name": "Create Trello Card",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1780,
        320
      ],
      "credentials": {
        "trelloApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Trello Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "id"
        },
        "id": "={{ $('Standardize Data').item.json.airtableId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Drive Folder": "https://drive.google.com/drive/folders/{{ $('Create Main Folder').item.json.id }}"
          }
        }
      },
      "id": "Show-Update-Airtable",
      "name": "Close Loop (Airtable)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        2000,
        320
      ],
      "credentials": {
        "airtableApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Airtable Credential"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Standardize Data').item.json.safeEmail }}",
        "subject": "Bienvenido a bordo, {{ $('Standardize Data').item.json.clientName }} 🚀",
        "emailType": "html",
        "message": "<h2>¡Hola!</h2><p>Tu carpeta está lista: <a href=\"https://drive.google.com/drive/folders/{{ $('Create Main Folder').item.json.id }}\">Acceder aquí</a></p>"
      },
      "id": "Show-Gmail-Node",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2220,
        320
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "content": "✅ **Éxito:** Onboarding completado para **{{ $('Standardize Data').item.json.clientName }}**."
      },
      "id": "Show-Discord-Success",
      "name": "Discord Success ✅",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2440,
        320
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Discord Webhook"
        }
      }
    }
  ],
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Standardize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize Data": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Create Main Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord Alert ⚠️",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Main Folder": {
      "main": [
        [
          {
            "node": "Create Contracts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Assets": {
      "main": [
        [
          {
            "node": "Add Permissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Permissions": {
      "main": [
        [
          {
            "node": "Create Trello Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Trello Card": {
      "main": [
        [
          {
            "node": "Close Loop (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Loop (Airtable)": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Discord Success ✅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}